.container {
  background-color:#fff;
  margin:10px;
  min-width:320px;
  border: 1px solid lightGray;
}

#image {
  float:left;
  max-width:80px;
  min-width:80px;
  margin:30px;
  border: 1px solid lightGray;
}

#nameContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:2em;
  padding:0px;
  padding-top:calc(55px - 1em);
  margin:0px;
}

#disamiguatingDescriptionContainer, #locationContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:1em;
  padding:0px;
  margin:0px;
}

#description{
  display:inline-block;
  margin:0px;
  padding:30px;
  padding-top:0px;
}
